/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
button.btn {
  background-color: #d53c80; /* Pinkish color */
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.btn:hover {
  background-color: #d53c80; /* Lighter pink on hover */
}

.card-text {
  color: #d53c80; /* Same pinkish color for prices */
  font-weight: bold;
}
